h2 Vítejte na školení testování

ul
  li Názvy cvičení korespondují s názvy modulů na filesystému, kde budete upravovat zdrojový kód.
  li Názvy a čísla nadpisů v návodech korespondují s TODO ve zdrojových kódech.

h4 Nápovědy
ul
  li V návodu můžete narazit také na modré nápovědy #[strong Show hint], nebojte se je využít, obsahuje informace ze slajdů.

hint Nápovědy se nebojte využívat, pokud si nejste jisti.

h4 Řešení k jednotlivým úkolům
ul
  li Pokud si i přesto nebudete vědět rady, jsou v návodech také řešení, které zobrazíte odkazem #[strong Show solution]. Ty si nechte ale až jako poslední možnost.

solution.
  K zobrazení řešení sahejte až když se přestanete cítit ve cvičení komfortně.

h4 Celková řešení
ul
  li.
    Pokud cvičení nestihnete dokončit, nebo se budete chtít později k úkolům vrátit a porovnat řešení,
    vypracovaná cvičení najdete v modulu solutions.

h3 Abyste si odnesli co nejvíce ...

.success Nebojte se nás během cvičení kdykoli zavolat, pokud budete chtít poradit, nebo si nebudete čímkoli jisti. Jsme tu pro vás.
