p.
  V tomto cvičení si vyzkoušíte, jak testovat výjimky, odstranit duplicitu a udržovat testy čisté.
  Začneme malou ukázkou refaktoringu, zbytek už ale bude na vás.

h3 1 Refaktoring třídy UserTest

p.
  Podíváte-li se na testy ve třídě #[strong UserTest], které jsme vytvořili v prvním cvičení, vidíme hodně duplicit a magických hodnot.

snippet
  :highlight-java
    @Test
    public void ageOneMonthBeforeBirthDayShouldBeUnchanged() {
      User user = new User("Test user", new LocalDate(1975, 7, 15));
      int age = user.getAgeInThisMonth(new LocalDate(2016, 6, 15));

      assertEquals(40, age);
    }

    @Test
    public void ageOneMonthAfterBirthDayShouldBeHigher() {

      User user = new User("Test user", new LocalDate(1975, 5, 15));
      int age = user.getAgeInThisMonth(new LocalDate(2016, 6, 15));

      assertEquals(41, age);
    }

    ...

p Refaktoring této třídy je už hotový, provedli jsme tři kroky:

ul
  li všechny instance LocalDate jsme převedli na konstatny a pojmenovali je dle jejich významu
  li objekt User jsme převedli na vlastnost objektu testu
  li objekt User instancujeme v @Before, protože jeho vytváření je pro všechny společné.
  li.task prohlédněte si výsledek refaktoringu, všimněte si jak se kód zpřehlednil ve srovnání s první verzí

h3 2 Testování výjimek

p.
  Pokud si prohlédnete implementaci třídy #[strong User],
  můžete si všimnout, že při snaze vytvořit čtenáře mladšího dvou let je vytvořena výjimka #[strong MinimalAgeException].
  Pro to zatím netestujeme, nyní ho dopíšeme.

p.
  Vyzkoušíme si dva způsoby testování výjimek

h4 2.1 Testujte vyhození výjimky

p.
  Základním způsobem očekávání výjimky je použít vlastnost anotace #[strong Test]

ul.task
  li vytvořte test #[strong shouldThrowMinimalAgeExceptionForTooYoungPerson]
  li v něm vytvořte uživatele, který se právě narodil - datum #[strong new LocalDate()]
  li očekávejte pomocí vlastnosti anotace #[strong Test], že byla vyhozena výjimka #[strong MinimalAgeException]

hint Vlastnost pro očekávání výjimky se jmenuje #[strong expected]

ul.task
  li ověřte, že test prochází

solution
  :highlight-java
    @Test(expected = MinimalAgeException.class)
    public void shouldThrowMinimalAgeExceptionForTooYoungPerson() {
      new User("Test user", new LocalDate());
    }

h4 2.2 Testujte vyhození výjimky pomocí ExpectedException

p.
  Dalším způsobem, jak je možné testovat očekávanou výjimku je rule #[strong ExpectedException], tento způsob umožňuje provádět podrobnější ověření a ověřit i zprávu.

ul
  li vytvořte rule #[strong ExpectedException]

hint
  ul
    li rule se vytváří jako public vlastnost s anotací #[strong @Rule]
    li #[strong ExpectedException] se vytvoří statickou metodu #[strong .none]

solution
  :highlight-java
    @Rule
    public ExpectedException exception = ExpectedException.none();

ul.task
  li vytvořte test #[strong shouldThrowMinimalAgeExceptionForTooYoungPersonWithRightMessage]
  li v něm vytvořte uživatele, který se právě narodil - datum #[strong new LocalDate()]
  li využijte vytvořený rule a jeho metody
    ul
      li očekávejte vyhození výjimky #[strong MinimalAgeException])
      li očekávejte zprávu #[strong User must be at least 2 years old.]

hint Využijte #[strong expect] a #[strong expectMessage]. Očekávání proveďte před vytvořením uživatele.

ul.task
  li ověřte, že test prochází

solution
  :highlight-java
    @Test
    public void shouldThrowMinimalAgeExceptionForTooYoungPersonWithRightMessage() {
      exception.expect(MinimalAgeException.class);
      exception.expectMessage("User must be at least 2 years old.");
      new User("Test user", new LocalDate());
    }

h3 3 Refaktoring třídy SubscriptionCalculatorTest

p Třída obsahuje dva testy, které jsou téměř identické. Vytváří stejného uživatele, instanci kalkulátoru se stejnou cenou, rozdíl je v délce předplatného a očekávaných hodnotách.

h4 3.1 Vytvořte konstantu pro základní cenu

p Začneme tím, že zobecníme cenu v testech a hodnotu #[strong 100] přeneseme do konstanty.

ul.task
  li vytvořte konstantu #[strong BASE_PRICE]
  li použijte ji ve vytvoření kalkulátoru i v assercích

solution
  :highlight-java
    public static final int BASE_PRICE = 100;

    ...

    SubscriptionCalculator calculator = new SubscriptionCalculator(BASE_PRICE);
    assertEquals(BASE_PRICE, annualPrice);
    assertEquals(BASE_PRICE / 2, sixMonthsPrice);

h4 3.2 Přesuňte vytvoření uživatele a kalkulátoru do metody

p Oba testy obsahují vytvoření kalkulátoru a dospělého uživatele.

ul.task
  li přesuňte vytvoření kalkulátoru i uživatele do samostatné metody
  li z lokálních proměnných #[strong adultUser] a #[strong calculator] udělejte instanční
  li použijte anotaci, která zajistí spuštění metody před každým testem

hint Jedná se o anotaci #[strong @Before]

ul.task
  li ověřte, že testy stále procházejí

solution
  :highlight-java
    private User adultUser;
    private SubscriptionCalculator calculator;

    @Before
    public void setUp() throws Exception {
      adultUser = new User("Adult user", new LocalDate(1980, 1, 1));
      calculator = new SubscriptionCalculator(BASE_PRICE);
    }

h4 3.3 Vytvořte metody pro získání ceny

p Testy se nyní liší jen způsobem získání ceny na základě délky trvání předplatného a ověřovanou hodnotou.

ul.task
  li vytvořte metody #[strong calculateAnnualPriceFor] a #[strong calculateSixMonthsPriceFor]
  li metody budou v parametru přijímat uživatele #[strong User]
  li budou provolávat metodu #[strong calculatePrice] připraveného kalkulátoru
  li k výpočtu použijí objekt uživatele z parametru a konstantu délky předplatného dle metody
    ul
      li calculateAnnualPriceFor - #[strong Duration.ANNUAL]
      li calculateSixMonthsPriceFor - #[strong Duration.SIX_MONTHS]
  li upravte testy, aby získávaly cenu pomocí metod a předávaly uživatele #[strong adultUser]
  li ověřte, že testy procházejí

solution
  :highlight-java
    protected int calculateAnnualPriceFor(User user) {
      return calculator.calculatePrice(user, Duration.ANNUAL);
    }

    protected int calculateSixMonthsPriceFor(User user) {
      return calculator.calculatePrice(user, Duration.SIX_MONTHS);
    }

    ...

    @Test
    public void calculatePrice_withAdult_shouldReturnBasePrice() {
      int annualPrice = calculateAnnualPriceFor(adultUser);
      assertEquals(BASE_PRICE, annualPrice);
    }

    @Test
    public void calculatePrice_withAdultForSixMonths_shouldReturnHalfPrice() {
      int sixMonthsPrice = calculateSixMonthsPriceFor(adultUser);
      assertEquals(BASE_PRICE / 2, sixMonthsPrice);
    }

h4 3.4 Přejmenujte třídu na SubscriptionCalculatorForAdultTest

p Tato testovací třída testuje dospělého uživatele.

ul
  li přejmenujte třídu na SubscriptionCalculatorForAdultTest

h4 3.5 Abstrahujte obecné vlastnosti testovací třídy

p Testovací třída se nyní zabývá testováním cen pro dospělého uživatel. Máme v plánu vytvořit další testovací třídy, abstrahujeme tedy vše co může být obecné.

ul.task
  li vytvořte abstraktní třídu #[strong AbstractSubscriptionCalculatorTest]
  li #[strong SubscriptionCalculatorForAdultTest] z ní bude dědit

p Přesuňte vše společné do abstraktní třídy
  ul.task
    li konstantu #[strong BASE_PRICE]
    li metody #[strong calculateAnnualPriceFor] a #[strong calculateSixMonthsPriceFor]
    li přesuňte také vytvoření kalkulátoru v metodě spouštěné před testy
      ul
        li metodu přejmenujte na #[strong prepareCalculator]
        li vytvoření dospělého uživatele ponechejte v testu #[strong SubscriptionCalculatorForAdultTest]

    li spusťte testy a ověřte že stále procházejí

solution
  :highlight-java
    public abstract class AbstractSubscriptionCalculatorTest {

      private SubscriptionCalculator calculator;
      public static final int BASE_PRICE = 100;

      @Before
      public void prepareCalculator() {
        calculator = new SubscriptionCalculator(BASE_PRICE);
      }

      protected int calculateAnnualPriceFor(User user) {
        return calculator.calculatePrice(user, Duration.ANNUAL);
      }

      protected int calculateSixMonthsPriceFor(User user) {
        return calculator.calculatePrice(user, Duration.SIX_MONTHS);
      }
    }

    --------------------------------------------------------------------------------------------

    public class SubscriptionCalculatorForAdultTest extends AbstractSubscriptionCalculatorTest {

      private User adultUser;

      @Before
      public void prepareAdultUser() {
        adultUser = new User("Adult user", new LocalDate(1980, 1, 1));
      }

      @Test
      public void calculatePrice_withAdult_shouldReturnBasePrice() {
        int annualPrice = calculateAnnualPriceFor(adultUser);

        assertEquals(BASE_PRICE, annualPrice);
      }

      @Test
      public void calculatePrice_withAdultForSixMonths_shouldReturnHalfPrice() {
        int sixMonthsPrice = calculateSixMonthsPriceFor(adultUser);

        assertEquals(BASE_PRICE / 2, sixMonthsPrice);
      }
    }

h3 4 Vytvořte testovací třídu SubscriptionCalculatorForDiscountsTest

p Nyní využijeme abstrahovanou funkcionalitu v dalším testu, kde otestujeme uživatele, kterým náleží nějaká sleva.

ul.task
  li vytvořte testovací třídu #[strong SubscriptionCalculatorDiscountsTest]
  li bude dědit z #[strong AbstractSubscriptionCalculatorTest]
  li v metodě spouštěné před testy si připravte pomocí metody #[strong UserTestUtil.createUser] uživatele s následujícími datumy narození:

snippet
  :highlight-java
    retiredUser = new User("Retired user", new LocalDate(1930, 1, 1));
    child = new User("Child user",new LocalDate(2010, 1, 1));
    youngUser = new User("Young user",new LocalDate(2000, 1, 1));

p Nyní vytvořte pomocí metod a konstant v abstraktní třídě následující testy
  ul.task
    li důchodce má roční předplatné zdarma
    li dítě má roční předplatné zdarma
    li student má roční předplatné za polovinu základní ceny
    li student má půlroční předplatné za čtvrtinu základní ceny

hint V metodě testu získejte věk pomocí metody #[strong calculateAnnualPriceFor] případně #[strong calculateSixMonthsPriceFor].
  br
  | K relativnímu ověření ceny použijte konstantu #[strong BASE_PRICE]

ul.task
  li spusťte všechny testy a ověřte, že procházejí

solution
  :highlight-java
    public class SubscriptionCalculatorDiscountsTest extends AbstractSubscriptionCalculatorTest {

      private User retiredUser;
      private User child;
      private User youngUser;

      @Before
      public void prepareUsers() throws Exception {
        retiredUser = new User("Retired user", new LocalDate(1930, 1, 1));
        child = new User("Child user",new LocalDate(2010, 1, 1));
        youngUser = new User("Young user",new LocalDate(2000, 1, 1));
      }

      @Test
      public void calculatePrice_withRetired_shouldBeFree() {
        int price = calculateAnnualPriceFor(retiredUser);

        assertEquals(0, price);
      }

      @Test
      public void calculatePrice_withChild_shouldBeFree(){;
        int price = calculateAnnualPriceFor(child);

        assertEquals(0, price);
      }

      @Test
      public void calculatePrice_withYoung_shouldBeHalf() {
        int price = calculateAnnualPriceFor(youngUser);

        assertEquals(BASE_PRICE / 2, price);
      }

      @Test
      public void calculatePrice_withYoungAndSixMonths_shouldBeQuarter(){
        int price = calculateSixMonthsPriceFor(youngUser);

        assertEquals(BASE_PRICE / 4, price);
      }
    }
