p V tomto cvičení si vyzkoušíte způsob vývoje TDD outside in.

p.
  Knihovna by chtěla začít odhadovat délku výpůjčky podle statistik pro půjčenou položku (Subject)
  a podle dat uživatele (uživatelský koeficient), který ji má zrovna půjčenou.
  Jsou připravena některá z rozhraní, ale není ještě zcela rozmyšleno jak a kdy se bude koeficient aplikovat.

ul
  li Do problému budete vstupovat shora, postupně budete definovat vzájemné chování a až posléze se budete zabývat implementací.
  li Postupujte po malých krocích podle návodu a snažte se nepředbíhat, abyste si techniku co nejlépe vyzkoušeli.
  li Kód pište, až když máte k dispozici padající test.
  li Nové metody vytvářejte, až když si to vyžádají testy.

h3 1 Získávání statistik o předmětu výpůjčky

p K získání odhadu bude sloužit třída #[strong AvailabilityPredictor]
ul
  li zatím obsahuje pouze konstruktor a závislost na #[strong StatsRepository].
  li rozhraní #[strong StatsRepository] vystavuje metodu #[strong getAverageBorrowingTerm]

p Začneme samozřejmě testem, psát je budeme ve třídě #[strong AvailabilityPredictorTest]

h4 1.1 Test predictorShouldObtainAverageBorrowingTerm

p Chceme připravit metodu třídy #[strong AvailabilityPredictor], která bude přijímat #[strong Subject] a zjistí pro něj z repozitáře statistiky.

p Tam, kde zatím neexistuje implementace, použijeme mock rozhraní.

ul
  li.task vytvořte test #[strong predictorShouldObtainAverageBorrowingTerm]
  li v testu chceme testovat metodu AvailabilityPredictoru #[strong getPredictionFor], která vrací predikci pro #[strong Subject].
  li.task instancujte #[strong AvailabilityPredictor], jako parametr jí předejte mock rozhraní #[strong StatsRepository]

hint Mock vytvoříte pomocí metody #[strong mock()]

ul
  li.task na predictoru zavolejte metodu #[strong getPredictionFor], jako parametr předejte mock rozhraní #[strong Subject]
  li nyní zkontrolujeme, že při volání metody bude načtena statistika ze #[strong StatsRepository]
  li.task ověřte, že byla na mocku #[strong StatsRepository] volána metoda #[strong getAverageBorrowingTerm] a že jí byl předán správný subject

hint K ověření chování mocku použijte #[strong verify()]

solution
  :highlight-java
    @Test
    public void predictorShouldObtainAverageBorrowingTerm() throws Exception {
      StatsRepository repository = mock(StatsRepository.class);
      AvailabilityPredictor predictor = new AvailabilityPredictor(repository);

      Subject subject = mock(Subject.class);
      predictor.getPredictionFor(subject);

      verify(repository).getAverageBorrowingTerm(subject);
    }

p Test je implementován, ale ještě nepůjde spustit, protože metoda #[strong getPredictionFor] zatím neexistuje

ul.task
  li vygenerujte prázdnou metodu #[strong getPredictionFor] dle signatury
  li spusťte testy, abyste viděli, že neprojdou, a můžeme se pustit do implementace.

h4 1.2 Implementujte metodu getPredictionFor

ul.task
  li v těle metody #[strong getPredictionFor] zavolejte patřičnou metodu třídy #[strong StatsRepository] s předaným předmětem
  li spusťte testy a ověřte, že procházejí

solution
  :highlight-java
    public void getPredictionFor(Subject subject) {
      statsRepository.getAverageBorrowingTerm(subject);
    }

.info Právě jsme implementovali predictor, který volá StatsRepository, aniž bychom potřebovali implementovat repozitář samotný.

h4 1.3 Převod mocků na instanční proměnné

p.
  V dalších testech budeme potřebovat stejné mocky. V praxi bychom refaktorovali až duplicitní kód,
  ale pokud přípravu mocků a predictoru extrahujeme do metody už teď, ušetříme si spoustu psaní.

ul.task
  li převeďte #[strong predictor] a proměnné s mocky #[strong repository] a #[strong subject] na instanční proměnné
  li vytvoření mocků a instance predictoru přesuňte do metody #[strong prepareMocksAndPredictor] a označte ji anotací #[strong @Before]

solution
  :highlight-java
    public class AvailabilityPredictionTest {

      private AvailabilityPredictor predictor;
      private Subject subject;
      private StatsRepository repository;

      @Before
      public void prepareMocksAndPredictor() {
        repository = mock(StatsRepository.class);
        predictor = new AvailabilityPredictor(repository);

        subject = mock(Subject.class);
      }

      public void predictorShouldObtainAverageBorrowingTerm() throws Exception {

        predictor.getPredictionFor(subject);

        verify(repository).getAverageBorrowingTerm(subject);
      }

    }


h4 1.4 Test predictorShouldReturnBorrowingInterval

p.
  Metoda #[strong getPredictionFor] zatím nic nevrací. My bychom potřebovali získat interval vracený metodou repozitáře.
  Vytvoříme tedy test vrácené hodnoty.

p Test bude vyžadovat obdobné závislosti jako předchozí test, využijeme tedy mocky v instančních proměnných.

ul.task
  li vytvořte test #[strong predictorShouldReturnBorrowingInterval]

p.
  Používáme mock rozhraní #[strong StatsRepository], potřebujeme ho tedy nastavit, aby při volání metody #[strong getAverageBorrowingTerm]
  vracel instanci rozhraní #[strong BorrowingInterval] - použijeme opět mock.

ul.task
  li.
    v metodě #[strong prepareMocksAndPredictor] vytvořte mock rozhraní #[strong BorrowingInterval]
    a přiřaďte ho do instanční proměnné #[strong borrowingInterval]

  li nastavte v této metodě také chování mocku #[strong StatsRepository], aby metoda #[strong getAverageBorrowingTerm] volaná s mockem #[strong Subject] vracela připravený mock #[strong BorrowingInterval]

hint Pro konfiguraci mocku se používá  #[strong when(...).thenReturn()]

solution
  :highlight-java
    @Before
    public void prepareMocksAndPredictor() {
      borrowingInterval = mock(BorrowingInterval.class);
      repository = mock(StatsRepository.class);

      predictor = new AvailabilityPredictor(repository);

      subject = mock(Subject.class);

      when(repository.getAverageBorrowingTerm(subject)).thenReturn(borrowingInterval);
    }

ul.task
  li v testu #[strong predictorShouldReturnBorrowingInterval] zavolejte metodu #[strong getPredictionFor] s připraveným mockem #[strong Subject]
  li návratovou hodnotu metody uložte do lokální proměnné typu #[strong BorrowingInterval]
    ul
      li zde narazíte na to, že metoda #[strong getPredictionFor] nic nevrací
  li upravte tedy její signaturu aby vracela #[strong BorrowingInterval], ale zatím neměňte implementaci a vraťte #[strong null]
  li zkontrolujte, že objekt vrácený metodou je totožný s připraveným mockem #[strong BorrowingInterval]

hint Využít můžete #[strong assertSame] nebo obdobu z AssertJ či Hamcrest

ul.task
  li než se pustíme do implementace, spusťte testy a ověřte, že neprocházejí

solution
  :highlight-java
    @Test
    public void predictorShouldObtainAverageBorrowingTerm() throws Exception {

      BorrowingInterval returnedInterval = predictor.getPredictionFor(subject);

      assertThat(returnedInterval).isSameAs(borrowingInterval);
    }

h4 1.5 Implementujte předání hodnoty

ul.task
  li implementujte metodu #[strong getPredictionFor] třídy #[strong AvailabilityPredictor] podle očekávaného výsledku testů
  li spusťte testy a ověřte, že procházejí

solution
  :highlight-java
    public BorrowingInterval getPredictionFor(Subject subject) {
      return statsRepository.getAverageBorrowingTerm(subject);
    }

.info Mame implementovanou a otestovanou základní funkcionalitu predictoru včetně návratové hodnoty, aniž bychom potřebovali implementovat repozitář ze kterého bereme data.

h3 2 Modifikace intervalu koeficientem uživatele

p.
  Každý čtenář čte jinou rychlostí, odhad dostupnosti knihy by tedy měl reflektovat koeficient uživatele, pokud je uživatel znám.

p.
  Koeficient budeme získávat z repozitáře pomocí metody #[strong getUserCoefficient] a budeme jej aplikovat na získaný #[strong BorrowingInterval]

ul
  li prohlédněte si definici rozhraní, metoda přijímá uživatele #[strong User] a vrací koeficient rychlosti čtení typu #[strong double]

h4 2.1 Test userCoefficientShouldBeAppliedToBorrowingInterval

p.
  Otestujeme, že pokud předáme metodě #[strong getPredictionFor] parametry #[strong Subject] a uživatele #[strong User],
  tak vrátí nový objekt #[strong BorrowingInterval] získaný aplikací koeficientu uživatele na interval získaný pro daný #[strong Subjekt].

ul
  li v testu budeme využívat všechny předchozí mocky i konfiguraci chování mocku #[strong StatsRepository]

p Připravíme získání koeficientu uživatele

ul.task
  li vytvořte test #[strong userCoefficientShouldBeAppliedToBorrowingInterval]
  li na objektu #[strong predictor] zavolejte metodu #[strong getPredictionFor] s parametry subject a user, kde
    ul
      li #[strong subject] bude mock připravený ve stejnojmenné vlastnosti
      li #[strong user] bude mock stejnojmenné třídy #[strong User], který si připravíme v lokální proměnné
  li návratovou hodnotu #[strong BorrowingInterval] uložíme do lokální proměnné

p Dále potřebujeme, aby #[strong StatsRepository] vracela uživatelský koeficient, protože ho budeme dále používat pro ověření, definujeme jej jako konstantu.

ul.task
  li připravte konstantu #[strong USER_COEFFICIENT] typu #[strong double] s libovolnou hodnotou
  li před voláním predictoru konfigurujte mock #[strong StatsRepository], aby metoda #[strong getUserCoefficient] vracela pro mock uživatele koeficient #[strong USER_COEFFICIENT]

p.
  Prostředí testu máme připravené, zaměřme se na assert. Chceme ověřit, že koeficient je aplikován na interval.
  Tedy na #[strong BorrowingInterval] bude existovat metoda #[strong applyUserCoefficient], která přijímá double koeficient jako parametr
  a jako návratovou hodnotu vrací nový #[strong BorrowingInterval].

p.
  Protože se teď ale nechceme zabývat implementací BorrowingInterval, pouze nastavíme mock.

ul.task
  li.
    před voláním predictoru konfigurujte existující mock #[strong BorrowingInterval], aby při volání metody #[strong applyUserCoefficient]
    s parametrem #[strong USER_COEFFICIENT] vracela nový mock #[strong BorrowingInterval]
  li vracený nový mock nazvěte #[strong newInterval], budeme jej ještě potřebovat pro asserci.

p.
  Nyní už zbývá jen assert. Budeme ověřovat, že metoda #[strong getPredictionFor] volaná tímto způsobem vrací #[strong BorrowingInterval],
  který vznikl voláním #[strong applyUserCoefficient].

ul.task
  li ověřte, že objekt #[strong BorrowingInterval] vrácený predictorem, je shodný s mockem #[strong newInterval]

p.
  Teď by kód nešel ani zkompilovat, dodefinujme tedy chybějící metody:

ul.task
  li.
    na rozhraní #[strong BorrowingInterval] deklarujte metodu #[strong applyUserCoefficient]
    s parametrem typu double #[strong userCoefficient]
    a návratovým typem #[strong BorrowingInterval]

  li.
    ve třídě #[strong AvailabilityPredictor] definujte metodu #[strong getPredictionFor]
    s parametry #[strong Subject] a #[strong User]
    a návratovým typem #[strong BorrowingInterval] - implementaci neřešíme, vrátíme null

p.
  Kód můžeme nyní zkompilovat a ověřit, že testy neprojdou.

solution
  :highlight-java
    @Test
    public void userCoefficientShouldBeAppliedToBorrowingInterval() {
      final double USER_COEFFICIENT = 0.85;

      User user = mock(User.class);
      when(repository.getUserCoefficient(user)).thenReturn(USER_COEFFICIENT);

      BorrowingInterval newBorrowingInterval = mock(BorrowingInterval.class);
      when(borrowingInterval.applyUserCoefficient(USER_COEFFICIENT)).thenReturn(newBorrowingInterval);

      assertThat(predictor.getPredictionFor(subject, user)).isSameAs(newBorrowingInterval);
    }

h4 2.2 Implementujte aplikaci koeficientu uživatele

p Ve třídě #[strong AvailabilityPredictor] implementujte novou metodu podle testu

ul.task
  li získejte z repozitáře #[strong StatsRepository] koeficient uživatele #[strong user]
  li pomocí metody #[strong applyUserCoefficient] aplikujte koeficient na #[strong BorrowingInterval] získaný pro #[strong subject]
  li nový interval s aplikovaným koeficientem vraťte

solution
  :highlight-java
    public BorrowingInterval getPredictionFor(Subject subject, User user) {

      double userCoefficient = statsRepository.getUserCoefficient(user);
      BorrowingInterval subjectInterval = getPredictionFor(subject);

      return subjectInterval.applyUserCoefficient(userCoefficient);
    }

.success
  |  Výborně, vyvinuli jste část kódu aniž byste se zabývali implementačními detaily závislostí,
  |  získáváním dat, nebo jejich transformacemi.
  br
  |  Nejprve jste vyřešili bussiness problém, a implementaci závislostí se můžeme věnovat později.

h3 3 Vytvoření mocků pomocí anotací

p Mocky je možné vytvářet a předávat ručně pomocí metody #[strong mock()], ale je možné využít k tomu anotace.

ul.task
  li odstraňte vytvoření mocků z metody spouštěné před testy
  li anotujte deklaraci instančních proměnných anotací pro vytvoření mocku

hint Jedná se o anotaci #[strong @Mock]

ul.task
  li odstraňte vytvoření instance #[strong AvailabilityPredictor]
  li anotujte instanční proměnnou anotací, která zajistí vložení potřebných mocků

hint Jedná se o anotaci #[strong @InjectMocks]

ul.task
  li anotuje testovací třídu pomocí #[strong @RunWith] a použijte runner, který zajistí vytvoření mocků

hint Jedná se o #[strong MockitoJUnitRunner]

solution
  :highlight-java
    @RunWith(MockitoJUnitRunner.class)
    public class AvailabilityPredictionTest {

      @Mock
      private StatsRepository repository;

      @Mock
      private BorrowingInterval borrowingInterval;

      @Mock
      private Subject subject;

      @InjectMocks
      private AvailabilityPredictor predictor;

      @Before
      public void prepareMocksAndPredictor() {
        when(repository.getAverageBorrowingTerm(subject)).thenReturn(borrowingInterval);
      }

    ...

    }

.success.
  Implementovali jste část funkcionality, aniž bychom se zabývali chováním závislostí a refaktorovali kód s použitím anotací, tak aby byly testy co nejpřehledňejší.
  V rámci extra úkolu si ještě můžete vyzkoušet implementaci jedné ze závislostí - rozhraní BorrowingInterval.

h2 Extra
h3 4 Implementace rozhraní BorrowingInterval

p.
  Nyní budeme implementovat jednu ze závislostí, rozhraní #[strong BorrowingInterval].

p Začneme testy ve třídě #[strong BorrowingIntervalTest].

h4 4.1 Test userCoefficientDoesNotAffectRangeValue

p Ověříme, že metoda #[strong applyUserCoefficient] nemodifikuje rozsah

ul
  li.task vytvořte test #[strong userCoefficientDoesNotAffectRangeValue]
  li máme připravenu instanční proměnnou #[strong originalInterval] reprezentující interval
  li.task zavolejte na #[strong originalInterval] metodu #[strong applyUserCoefficient] s parametrem #[strong 1.5], návratovou hodnotu uložte do proměnné #[strong newInterval]
  li.task ověřte, že se vlastnost #[strong range] objektů #[strong originalInterval] a #[strong newInterval] rovná

solution
  :highlight-java
    @Test
    public void userCoefficientDoesNotAffectRangeValue() {

      BorrowingInterval newInterval = originalInterval.applyUserCoefficient(1.5);

      assertThat(newInterval.getRange()).isEqualTo(originalInterval.getRange());
    }

h4 Vytvoření instance originalInterval

p.
  #[strong originalInterval] je sice definován v testech jako vlastnost, ale není inicializován. To uděláme v metodě #[strong prepareInterval],
  kterou anotujeme jako #[strong @Before].

ul.task
  li připravte novou instanci #[strong BorrowingIntervalImpl], s parametry #[strong 2.0] a #[strong 4.0] do vlastnosti #[strong originalInterval]
  li třída #[strong BorrowingIntervalImpl] neexistuje, nechte ji tedy IDE vygenerovat
    ul
      li třída implementuje rozhraní #[strong BorrowingInterval]
      li konstruktor dostává dva parametry - průměr #[strong average] a rozsah #[strong range] typu #[strong double]
      li metody #[strong getAverage] a #[strong getRange] se budou chovat jako gettery
      li implementaci #[strong applyUserCoefficient] nechte prázdnou
  li spusťte testy, a přesvědčte se, že neprojdou

solution
  :highlight-java
    @Before
    public void prepareInterval() {
      originalInterval = new BorrowingIntervalImpl(2.0, 4.0);
    }

h4 4.2 Implementujte metodu strong applyUserCoefficient

ul.task
  li v metodě #[strong applyUserCoefficient] vraťte nový #[strong BorrowingIntervalImpl] se shodnými hodnotami
  li spusťte testy a ověřte, že prochází

solution
  :highlight-java
    public BorrowingInterval applyUserCoefficient(double coefficient) {
      return new BorrowingIntervalImpl(average, range);
    }

h4 4.3 Test userCoefficientAffectsAverageValue

p Nyní ověříme, že metoda #[strong applyUserCoefficient] aplikuje koeficient na průměr

ul.task
  li vytvořte test #[strong userCoefficientAffectsAverageValue]
  li volejte metodu #[strong applyUserCoefficient] s parametrem #[strong 1.5], návratovou hodnotu uložte do proměnné #[strong newInterval]
  li ověřte, že je vlastnost #[strong average] objektu #[strong newInterval] rovna #[strong 3.0]
  li spusťte test a ověřte, že neprochází

solution
  :highlight-java
    @Test
     public void userCoefficientAffectsAverageValue() {
       BorrowingInterval newInterval = originalInterval.applyUserCoefficient(1.5);
       assertThat(newInterval.getAverage()).isEqualTo(3.0);
     }

h4 4.4 Implementujte metodu strong applyUserCoefficient

ul.task
  li vynásobte koeficientem vlastnost #[strong average] vytvářeného objektu #[strong BorrowingIntervalImpl]
  li spusťte všechny testy a ověřte, že prochází

solution
  :highlight-java
    public BorrowingInterval applyUserCoefficient(double coefficient) {
      return new BorrowingIntervalImpl(average * coefficient, range);
    }

.success Implementovali jste závislost a nijak tím neovlivnili původní testy.
  br
  | Kód vzniklý pomocí TDD outside in by měl být abstraktnější a méně závislý na implementačních detailech.
